# outdated, update this in production

ENVIRONMENT=""
PROJECT_NAME="EWAST API"
DESCRIPTION="Backend service for EWAST (InnovCup 2026 Entry)"
VERSION="1.0.0"

# Examples:
# PostgreSQL: postgresql://postgres:password@localhost:5432/ewast
# SQLite: sqlite:///database.db
DATABASE_URL=""
DATABASE_KEY="some_secure_key"

AI_API_KEY=""